<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>End Game</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="../../public/images/favicon.ico" type="image/x-icon">

  <!-- Font Family -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

  <!-- CSS -->
  <link rel="stylesheet" href="../../public/styles/main.css">
  <link rel="stylesheet" href="../../public/styles/partials/ranking.css">
</head>
<body id="page-landing">
  <div id="container">
    <div class="header-container">
      <a href="../../../dino/dino.html" class="dino">
        <img src="../../public/images/icons/back.svg" alt="Voltar">
      </a>
      <p>Ranking</p>
    </div>
    <table class="ranking-table" id="ranking-table">
      
    </table>
  </div>

  <script src="../../public/scripts/rankingList.js"></script>
</body>
</html>