table {
    color:#ffffff;
    width: 50%;
    border-collapse: collapse;
    margin: 20px auto;
}

th, td {
    border: 1px solid #ffffff;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #000000;
}
